<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href='styles.css'>
</head>
<body>
    <div id="card">
        <h2 class='card-title'>Card Title</h2>
        <div class='card-description'>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi ex incidunt illum possimus? 
                Earum aliquid vero, itaque dolorem explicabo magni eaque, id cupiditate corporis veniam soluta 
                ducimus aspernatur voluptates alias.
            </p>
        </div>
    </div>
    <form method='post' action='pdfgenerate' class='generate-button'>
        <button type='submit'>generate PDF</button>
    </form>
</body>